.footer {
  height: 32rem;
  background-color: #eb6b63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMed a {
  color: #fff;
  font-size: 4rem;
}

.socialMed a:not(:first-of-type) {
  margin-left: 2.5rem;
}

.footer p {
  margin-top: 3rem;
  color: #fff;
  font-size: 1.2rem;
}
