.container {
  padding: 5rem 0;
  max-width: 120rem;
  margin: 15rem auto 0;
  display: flex;
  align-items: center;
}

.movieList {
  width: 100%;
}

.movieList h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 5rem;
}

.movie {
  width: 15rem;
  height: 30rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.movie:hover {
  transform: scale(1.1);
}

.movie img {
  height: 22.5rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.year {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}
